#root {
  max-width: 100wh;
  margin: 0;
  /* padding: 2rem; */
}

.App{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: gold red #3d5af1 green;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
